.hero{
    background-color: rgb(var(--second-color));
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.hero-inner{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1250px;
    align-items: center;
}

.hero-box2-inner{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: end;
}

.hero-box2-inner .colors{
    margin-right: 19%;
    display: flex;
    justify-content: end;
    width: 80%;
    align-items: center;
}

.hero-box2-inner .title{
    margin-right: 20%;
    text-align: end;
    width: 80%;
    font-size: clamp(15px, 2vw, 35px);
    color: rgb(var(--primary-color));
}
.hero-box2-inner .text {
    margin-right: 20%;
    text-align: end;
    width: 70%;
    font-size: clamp(14px, 2vw, 25px);
    color: rgb(var(--third-color));
}

.hero-box1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-box2{

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-circle {
    margin: -10% 0 0 20%;
    z-index: 0;
    width: 80%;
    border-radius: 50%;
    backdrop-filter: blur(10px);
}

.hero-circle::after{
    --border-width: 8px; /* Adjust to the desired border width */
    content: "";
    position: absolute;
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(
    60deg,
    rgb(var(--primary-color)),
    rgb(var(--second-color)),
    rgb(var(--third-color)),
    rgb(var(--fourth-color)),
    rgb(var(--fifth-color)),
    rgb(var(--primary-color)),
    rgb(var(--second-color)),
    rgb(var(--third-color)),
    rgb(var(--fourth-color)),
    rgb(var(--fifth-color))
);
    background-size: 300% 300%;
    background-position: 0 50%;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    animation: moveGradient 8s  infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


.hero-circle:hover::after{
    --border-width: 0px; /* Adjust to the desired border width */
    background: transparent;
    transition: all 0.3s ease-in-out;
    border: transparent;
    box-shadow:
    -10px -3px 0 15px rgb(var(--second-color)),
    -15px -8px 0 30px transparent,
    -20px -13px 0 35px rgb(var(--primary-color)),
    -25px -18px 0 40px transparent,
    -30px -23px 0 50px rgb(var(--third-color)),
    -35px -28px 0 60px transparent,
    -40px -33px 0 70px rgb(var(--fourth-color));
}


.hero-circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* animation */
@keyframes fadeInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeIn {
    animation: fadeInFromBottom 2s ease-out forwards;
  }
  