.resume{
    height: 200vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.resume-inner{
    width: 100%;
    height: 80%;
    max-width: 1250px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.resume-box1,
.resume-box2{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resume-box2{
    margin-top: -400px;
}

.resume-box1-title{
    display: flex;
    text-align: left;
    margin-left: 10%;
    align-items: center;
    width: 100%;
    height: 15%;
}

.resume-box1-selector{
    display: flex;
    margin-left: 10%;
    height: 10%;
    width: 100%;
}

.resume-box1-inner{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.resume-box1-inner-title{
    margin-left: 10%;
    text-align: left;
}

.resume-box1-title h1{
    font-size: clamp(28px, 2vw, 35px);
    color: rgb(var(--fourth-color));
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.resume-box1-inner .highlight1{
    color: rgb(var(--fourth-color));
}

.resume-box1-content, .resume-box1-inner-content{
    display: none;
}



.resume-box1-content-active{
    opacity: 1;
    transition:  all 0.5 ease-in-out;   
    animation: fadeIn 0.5s ease-in-out;
    color: rgb(var(--third-color));
}



.resume-box1-inner-content-active{
    opacity: 1;
    transition:  all 0.5 ease-in-out;   
    animation: fadeIn 0.5s ease-in-out;
    margin-left: 10%;
    text-align: left;
    width: 75%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(var(--third-color));
}

.resume-box1-inner-content-active::-webkit-scrollbar, .resume-box1-inner-content::-webkit-scrollbar {
    display: none;
  }

dd {
    display: list-item;
    list-style-type: "🤯";
    line-height: 300%;
    font-size: clamp(16px, 2vw, 20px);
    padding-inline-start: 1ch;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    background-repeat: no-repeat;

  }

dd:hover{
    color: rgb(var(--fourth-color));
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  


